
## Method Chaining In Data Science
**Method chaining is a technique that is used for making multiple method calls on the same object, using the object reference just once.**
![Chaining](https://i.ytimg.com/vi/3p3gF8b4cN0/maxresdefault.jpg)

**How Method Chaining works in python**

In [4]:
import numpy as np


class Player:
    def __init__(self, name, position, fatigue=0):
        self.name = name
        self.position = position
        self.fatigue = fatigue

    def draw(self):
        print(f"Drawing {self.name} to screen at {self.position}")
        return self

    def move(self, delta):
        self.position += delta
        self.fatigue += 1
        return self

    def rest(self):
        self.fatigue = 0
        return self


def main():
    john = Player("John", np.array([0.0, 0.0]))
    UP = np.array([0.0, 1.0])
    RIGHT = np.array([1.0, 0.0])
    
    # Here You can see we are calling multiple methods in chaing with using object reference only once.    
    (
        john.move(UP)
            .move(RIGHT)
            .move(UP)
            .rest()
            .draw()
    )


if __name__ == "__main__":
    main()

Drawing John to screen at [1. 2.]

**How To Use Chaining with String Inbuilt Methods**

In [7]:
# Inbuilt Methods In String
def string_inbuilt_method_chaining():
    data = "Collection Of Facts Is Called Data"
    
    # Here also you can check for the method chainging.     
    chaining_result = data.strip().upper().center(100)
    print(chaining_result)
string_inbuilt_method_chaining()

                                 COLLECTION OF FACTS IS CALLED DATA

## Method Chaining In Data Science

**Let's See How to Use Method Chaining In Data Cleaning**

In [19]:
# Let's import some libraries and begin with some sample data for this example
# This Example is taken from https://pyjanitor-devs.github.io/pyjanitor/
# Libraries
import numpy as np
import pandas as pd

# Sample Data curated for this example
company_sales = {
    'SalesMonth': ['Jan', 'Feb', 'Mar', 'April'],
    'Company1': [150.0, 200.0, 300.0, 400.0],
    'Company2': [180.0, 250.0, np.nan, 500.0],
    'Company3': [400.0, 500.0, 600.0, 675.0]
}

**Most of the users working in pandas like**

In [15]:
# The Pandas Way
# 1. Create a pandas DataFrame from the company_sales dictionary
df = pd.DataFrame.from_dict(company_sales)

# 2. Delete a column from the DataFrame. Say 'Company1'
del df['Company1']

# 3. Drop rows that have empty values in columns 'Company2' and 'Company3'
df = df.dropna(subset=['Company2', 'Company3'])

# 4. Rename 'Company2' to 'Amazon' and 'Company3' to 'Facebook'
df = df.rename(
    {
        'Company2': 'Amazon',
        'Company3': 'Facebook',
    },
    axis=1,
)

# 5. Let's add some data for another company. Say 'Google'
df['Google'] = [450.0, 550.0, 800.0]
df

  SalesMonth  Amazon  Facebook  Google
0        Jan   180.0     400.0   450.0
1        Feb   250.0     500.0   550.0
3      April   500.0     675.0   800.0

**We Can use Method Chaining With Pandas**

In [17]:
# We Can Use Chaining Like
df = (
    pd.DataFrame(company_sales)
    .drop(columns="Company1")
    .dropna(subset=["Company2", "Company3"])
    .rename(columns={"Company2": "Amazon", "Company3": "Facebook"})
    .assign(Google=[450.0, 550.0, 800.0])
)
df

  SalesMonth  Amazon  Facebook  Google
0        Jan   180.0     400.0   450.0
1        Feb   250.0     500.0   550.0
3      April   500.0     675.0   800.0

## pyjanitor

_pyjanitor is a Python implementation of the R package janitor, and provides a clean API for cleaning data._

**Functionality**

_Current functionality includes:_

* Cleaning columns name (multi-indexes are possible!)
* Removing empty rows and columns
* Identifying duplicate entries
* Encoding columns as categorical
* Splitting your data into features and targets (for machine learning)
* Adding, removing, and renaming columns
* Coalesce multiple columns into a single column
* Date conversions (from matlab, excel, unix) to Python datetime format
* Expand a single column that has delimited, categorical values into dummy-encoded variables
* Concatenating and deconcatenating columns, based on a delimiter 
etc..

In [22]:
# !pip install pyjanitor

In [21]:
# With pyjanitor, we enable method chaining with method names that are explicitly named verbs, which describe the action taken.
import janitor

df = (
    pd.DataFrame.from_dict(company_sales)
    .remove_columns(["Company1"])
    .dropna(subset=["Company2", "Company3"])
    .rename_column("Company2", "Amazon")
    .rename_column("Company3", "Facebook")
    .add_column("Google", [450.0, 550.0, 800.0])
)

df

  SalesMonth  Amazon  Facebook  Google
0        Jan   180.0     400.0   450.0
1        Feb   250.0     500.0   550.0
3      April   500.0     675.0   800.0

**REFERENCE**
* Check the documentation of  [pyjanitor](https://pyjanitor-devs.github.io/pyjanitor/).

* Chaining Method taken from [github](https://github.com/mCodingLLC/VideosSampleCode/blob/master/videos/095_method_chaining_and_self/method_chaining_and_self.py).
![thankyou](https://th.bing.com/th/id/R.f05407fe1f2bb42fecc41cd33d86231e?rik=GOoiElHBW7Ggtw&riu=http%3a%2f%2fi2.wp.com%2fwww.studentschillout.com%2fwp%2fwp-content%2fuploads%2f2015%2f06%2fIMG_9707.jpg&ehk=bow2x05m1kdQF1Syrwr0PoDdY9RQw2EO3ysatye10x4%3d&risl=&pid=ImgRaw&r=0)